.image-not-found {
  height: 350px;
}
.not-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.not-heading {
  margin: 10px;
  color: #475569;
}
.not-text {
  color: #64748b;
  margin: 5px;
}
